benchmark/evaluation/calGenome
benchmark/evaluation/calResult1
benchmark/evaluation/calResult2
benchmark/evaluation/mapGenome
benchmark/evaluation/calNMI
benchmark/evaluation/calF1
benchmark/evaluation/calViral
benchmark/evaluation/calLabel
benchmark/evaluation/*.f1
benchmark/evaluation/*.f1.humanReadable
benchmark/evaluation/*.nmi
benchmark/evaluation/*.nmi.humanReadable
build/
clust

2022_*
*.out
*.clust
