**/*
!src/
!src/*
!.gitignore
!.gitmodules
!CMakeLists.txt
!LICENSE.txt
!README.md
!experient.md
!install.sh
!rabbittclust.png

!benchmark/
!benchmark/README.md
!benchmark/download_genomes.py
!benchmark/generateList.sh

!benchmark/simulateData/
!benchmark/simulateData/README.md
!benchmark/simulateData/Makefile
!benchmark/simulateData/src/
!benchmark/simulateData/src/*

!benchmark/evaluation/
!benchmark/evaluation/Makefile
!benchmark/evaluation/README.md
!benchmark/evaluation/getNMI.py
!benchmark/evaluation/src/
!benchmark/evaluation/src/*

