benchmark/evaluation/calGenome
benchmark/evaluation/calResult1
benchmark/evaluation/calResult2
benchmark/evaluation/mapGenome
benchmark/evaluation/calNMI
benchmark/evaluation/calF1
benchmark/evaluation/calViral
benchmark/evaluation/calLabel
benchmark/evaluation/calPurity
benchmark/evaluation/*.f1
benchmark/evaluation/*.f1.humanReadable
benchmark/evaluation/*.nmi
benchmark/evaluation/*.nmi.humanReadable
benchmark/evaluation/*.purity
benchmark/evaluation/*.label
benchmark/evaluation/*.label.humanReadable
benchmark/evaluation/*.humanReadable
benchmark/evaluation/*.out
benchmark/evaluation/*.new
benchmark/evaluation/out*
benchmark/evaluation/run.sh

build/
clust
clust-mst
clust-greedy
*.list
*.fna
*List
run.sh

2022_*
*.out
*.clust
*.clust.removeNoise
*.clust.new
data
